[color]
	ui = true
[push]
	default = current
[fetch]
	prune = true
[core]
	autocrlf = false
	preloadindex = true
	fscache = true
	symlinks = false
	longpaths = true
[log]
	decorate = short
[http]
	sslVerify = false
[pack]
	useSparse = true
[user]
	name = Andrew Suh
  email = asuh1@wayfair.com
